<div class="panel panel-success">
	        <div class="panel-heading">
	          <h3 class="panel-title"><%= name %></h3>
	        </div>
	        <div class="panel-body">
	          <p>
		          Feel free to use me :)
	          </p>
	          
	          <div class="persons">
		          <div class="icons">
			          <div class="glyphicon glyphicon-ok"></div>
		          </div>
		          0 persons in queue
	          </div>
	        </div>
    	</div>