  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
         <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/jquery.countdown.min.js"></script>
		<script src="js/legacy.js"></script>
		<script src="js/picker.js"></script>
		<script src="js/picker.date.js"></script>
		<script src="js/picker.time.js"></script>
        <script src="js/main.js"></script>
        
         <script>
		 $(function(){
			
			$(".box").each(function(){
				var boxid= $(this).attr("data-boxid");
				
				$.get( '/ajax/free',{box: boxid}, function(data) {
			       if (data == 1){
				       $(this).find(".panel").removeClass("panel-danger");
				       $(this).find(".panel").addClass("panel-success");
				       $(this).find(".panel-body p").text("Feel free to use me :)");
			       } else if (data == 0){
				       $(this).find(".panel").removeClass("panel-success");
				       $(this).find(".panel").addClass("panel-danger");
				       $(this).find(".panel-body p").text("Occupied");
			       }
			     }); 
				
				
			});
			
			/*
			var parameters = { box: 1 };
		       $.get( '/ajax/free',parameters, function(data) {
		       console.log(data);
		     }); 
		     */
		 });
		 </script>
        
    </body>
</html>
