.logo {
	margin-bottom: 20px;
}

.actual .panel-body {
	text-align: center;
}

.persons .icons{
	color: red;
}

.persons .icons .glyphicon-ok{
	color: green;
}

.filter {
	margin-top: 20px;
	margin-bottom: 20px;
}

.historicalbox {
	display: none;
}

.glyphicon-chevron-down, .glyphicon-chevron-up{
	cursor: pointer;
}

.resultfree {
	display: none;
}